<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro</title>
</head>
<body>
    <h1>CARRO SELECIONADO</h1>
    <table>
        <td th:text="${carro?.id}"></td>
        <td th:text="${carro?.marca}"></td>
        <td th:text="${carro?.modelo}"></td>
        <td th:text="${carro?.ano}"></td>
        <td th:text="${carro?.km}"></td>
        <td th:text="${carro?.combustivel}"></td>
        <td th:text="${carro?.preco}"></td>
    </table>
</body>
</html>